.jumbotron {background: url(https://pixabay.com/static/uploads/photo/2015/12/19/12/53/boys-1099726_960_720.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	padding:70px;
	color:#124B5E;
}
